@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slogan-word {
    font-family: "Questrial", sans-serif;
}

.slogan-word > h2 > span {
    border-radius: 0.125rem;
    padding: 0.5rem;
    color: white;
    background-color: #002c73;
}

li > a:hover {
    background-color: #002c73;
    color: #ffd009;
}

a > i:hover {
    background-color: #002c73;
    color: #ffd009;
}

h4 {
    @apply font-questrial text-white;
}